.homeTop{
    display: flex;
    gap: 20px;
    max-width: 100%;
    align-items: center;
    .topImgBox{
        max-width: 50%;
        min-height: 300px;
        border-radius: 7px;
        .topImg{
            width: 100%;
            border-radius: 7px;
        }
    }
    .topText{
     max-width: 50%;
     padding: 20px;
    }
}
@media only screen and (max-width: 893px){
.homeTop{
    display: flex;
    flex-direction: column;
    .topImgBox{
        max-width: 100%;
    }
    .topText{
        max-width: 100%;
    }
}
}